h1, h3 , p{
    font-family: 'Trade Winds', cursive;
    color: yellow;
    background-color: darkslategray;
}

body {
    background-color: black;
    text-align: center;
}

span {
    color: crimson;
    background-color: darkslategray;
}