h1, h3 , p{
    font-family: 'Prata', serif;
    color: darkslategray;
    background-color: lightcyan;
}

body {
    background-color: white;
    text-align: center;
}

span {
    color: black;
    background-color: aqua;
}